<div>
<app-head-bar></app-head-bar>
</div>

<div id="wrapper" class="wrapper-content">
<div id="sidebar-wrapper">
   <ul class="sidebar-nav">
      <li class="sidebar-brand">
         <a>
         Categories
         </a>
      </li>
      <li *ngFor="let category of categories">
         <a>{{category?.name}}</a>
      </li>
      
   </ul>
</div>

<div class="container" id="main-container">

   <div class="row">
      <div *ngFor="let recipe of recipes" class="col-md-6 col-xl-3">
         <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-6">
                  <a><img src="{{recipe?.imageUrl}}" alt="" class="img-fluid rounded-circle"></a>
               </div>
               <div class="col-6 card-title align-self-center mb-0">
                  <h5>{{recipe?.name}}</h5>
                  <p class="m-0"> {{recipe?.category?.name}} </p>
               </div>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item"><i class="fa fa-clock-o float-center" ></i>{{recipe?.minutes}} minutes</li>
            </ul>
            <div class="card-body">
               <div class="float-right btn-group btn-group-sm">
               
                  <a (click)="onOpenModal(recipe, 'edit')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                  <a (click)="onOpenModal(recipe, 'delete')" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                  <a  class="btn btn-info tooltips" data-placement="top" data-original-title="details"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


<!-- Add Recipe Modal -->
<div class="modal fade" id="addRecipeModal" tabindex="-1" role="dialog" aria-labelledby="addRecipeModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addRecipeModalLabel">Add Recipe</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddRecipe(addForm)">
            <div class="form-group">
               <label for="name">Name</label>
               <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Recipe Name" required>
            </div>
            <div class="form-group">
               <label for="email">Minutes</label>
               <input type="minutes" ngModel name="minutes" class="form-control" id="minutes" placeholder="Minutes to prepare" >
            </div>
            <div class="form-group">
               <label for="category">Category</label>
               <select class="form-select" >
                  <option selected ngModel><a>Choose category</a></option>
                  <option ngModel *ngFor="let category of categories" id={{category.id}} >{{category?.name}}</option>
               </select>
            </div>
            <div class="form-group">
               <label for="imageUrl">Image URL</label>
               <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" >
            </div>
            <div class="modal-footer">
               <button type="button" id="add-Recipe-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
   </div>
</div>