<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a routerLink="" class="navbar-brand" style="color:white;">Recipe App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
    <div>
        <button (click)="addCategoryFormView()" type="button" class="btn btn-primary  btn-sm" data-toggle="modal">
            <i class=" fa fa-plus " aria-hidden="true "></i>
            New Category
        </button>
    </div>

</nav>