<div id="wrapper" class="wrapper-content">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a>Categories</a>
            </li>


            <div *ngFor="let category of categories" class="radio">
                <label>
                    <input ngModel type="radio" name="filter" [value]="category.id"> {{category.name}}
                </label>

            </div>



            <!-- <div class="checkbox" *ngFor="let category of categories">
                <label>
                    <input type="checkbox"> {{category.name}}
                </label>
            </div> -->




            <!-- <li *ngFor="let category of categories">
                <a>{{category?.name}}</a>
            </li> -->

        </ul>
    </div>