<div id="wrapper" class="wrapper-content">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a routerLink="/categories">Categories</a>
            </li>
            <!-- <div class=""> -->
            <div class="center">
                <div class=" btn-group-vertical btn-group-toggle" role="group" aria-label="First group">
                    <div *ngFor="let category of categories">
                        <button (click)="filterChoice(category?.name)" type="button" class="btn btn-primary-outline btn-sm btn-block" [value]="category.id"> {{category.name}}</button>

                    </div>
                    <div>
                        <button (click)="filterChoice()" type="button" class="btn btn-secondary btn-sm btn-block" checked> Show All</button>

                    </div>

                </div>

            </div>

        </ul>
    </div>